/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: my;
    src: url(../font/my.otf);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
    background-attachment:fixed;
    font-family: my;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#menuHead
{
    width: 100%;
    height: 55px;
    background-color:#f0f0f0;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20px 0px rgba(149, 149, 149, 0.5);
    z-index: 5;
}

#menuTopNavi
{
    width: 40px;
    opacity: 0.8;
}

#menuTopNavi:active
{
    opacity: 0.4;
}

#title
{
    color: #959595;
    font-family: my;
    font-size:20px;
    padding: 0 0 0 20px;
}

table
{
    width: 100%
}

#navTD
{
    width: 45px;
    vertical-align: middle;
}

#charters
{
    margin-top: 100px;
}

#chartUnder
{
    padding: 0 0 5px 25px;
    border-bottom: 1px solid rgba(149, 149, 149, 0.3);
}

#chartUnder span
{
    height: 50px;
    font-family: my;
    color: #959595;
}

#chartersMenu
{
    width: 100px;
    opacity: 1;
    z-index: 2;
}

#listOfCharters
{
    text-align: justify;
    padding: 10px 22px;
    text-align-last: justify;
}

#typeChartersMenu
{
    display: inline-block;
    margin: 0 0 10px 0;
}

#typeChartersMenu:active
{
    opacity: 0.8;
}

#headLineMenu
{
    height: 50px;
    background: #939393;
}

#backButtonMenu
{
    width: 70px;
    height: 50px;
    display: inline-block;
}

#backButtonMenuImg
{
    width: 20px;
    margin: 15px 0 0 25px;
}

#backButtonMenu:active
{
    opacity: 0.6;
}

#windowTitle
{
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    font-size: my;
}

#menuHeadMin
{
    width: inherit;
    height: 50px;
    background-color:#f0f0f0;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 20px 0px rgba(149, 149, 149, 0.5);
}

#chartersMin
{
    margin: 80px 0;
}

#appLogoMenuDiv
{
    text-align: left;
    height: 100px;
    margin-left: 10px;
}

#appLogoMenu
{
    width: 100px;
}

#infoMenuTitle
{
    color: #404040;
    font-family: my;
    font-size: 24px;
    margin: -108px 0 0 104px;
}

#infoMenuVersion
{
    color: #939393;
    font-family: my;
    font-size: 14px;
    margin: -0px 0 0 105px;
}

#InfoMenuButtons
{
    margin: 20px 0 30px 0;
}

.infMenuButton
{
    padding: 15px 0 15px 30px;
    border-bottom: 1px solid #b7b7b7;
    opacity: 1;
}

.infMenuButton:active
{
    opacity: 0.6;
}

#infoMenuLink
{
    border: none;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

#infMenuSocTitle
{
    padding: 25px 0 15px 30px;
    color: #404040;
    font-size: 24px;
    text-align: left;
}

#langSpan
{
    font-size: 12px;
    color: #adadad;
    float: right;
    margin-right: 30px;
}

#aboutAppText
{
    font-size: 16px;
    color: #404040;
    font-family: my;
    margin: 80px 30px;
}

#aboutDev
{
    margin: 40px 30px 20px 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

#aboutDev1
{
    margin: 40px 30px 20px 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

#chartersMinSeventin
{
    margin-top: 70px;
}

#settMenuButton
{
    padding: 15px 0 5px 30px;
    border-bottom: 1px solid #b7b7b7;
}

#settMenuButton:active
{
    background: rgba(255, 255, 255, 0.4);
}

#SettingStat
{
    display: block;
    margin: 10px 0;
    font-size: 12px;
    color: #adadad;
}

#activeLanguage
{
    background: rgba(54, 226, 25, 0.3);
}

.fontMenuButton
{
    background: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    height: 60px;
}

.fontMenuButton:active
{
    opacity: 0.6;
}

#fontSizeTable
{
    width: 110px;
    text-align: center !important;
    vertical-align: middle;
}

.fontMenuButtonDef
{
    text-align: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    font-size: 0.8em;
}

.fontMenuButtonDef:active
{
    opacity: 0.6;
}

#charterTitle
{
/*
    color: #ffffff;
    display: block;
    margin: -35px 0 0 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
*/
    color: #ffffff;
    display: block;
    position: relative;
    bottom: 2.1em;
    line-height: normal;
    padding: 0 10px;
    font-size: 14px;
}

#favoritCH
{
    color: #efefef;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    border-radius: 5px;
    margin: -24px 15px 0 0;
    font-size: 12px;
    display: inline-block;
    float: right;
}

#favoritCH:active
{
    opacity: 0.6;
}

#addToFav
{
    position: absolute;
    width: 100px;
    height: 127px;
    z-index: 2;
}

#dellFromFav
{
    position: absolute;
    width: 100px;
    height: 127px;
    z-index: 2;
}

#saveFavoritCH
{
    color: #efefef;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    border-radius: 5px;
    margin: -24px 15px 0 0;
    font-size: 12px;
    display: inline-block;
    float: right;
}

#saveFavoritCH:active
{
    opacity: 0.6;
}

#chartUnderBorder
{
    padding: 0 0 5px 25px;
}

#chartUnderBorder span
{
    height: 20px;
    font-family: my;
    color: #959595;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-0.5deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(0.5deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-0.5deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-0.5deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(0.5deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-0.5deg); }
}
.shake{
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#pIco
{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #5e5e5e;
    color: #fff;
    text-align: center !important;
    line-height: 20px;
    font-size: 16px;
    float: right;
    margin: -5px;
    text-align-last: auto;
}

#closeMes
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
}

#bmNum
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e91e63;
    color: white;
    position: absolute;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    margin: -37px 0px 0 18px;
    pointer-events: none;
}


.noScroll
{
    overflow: hidden;
    position:fixed;
}

#whtNew
{
    max-width: 100%;
    min-width: 100%;
    min-height: 40%;
    max-height: 80%;
    position: absolute;
    padding: 5px 0;
    bottom: 0px;
    left: 0px;
    background: #f9f9f9;
    z-index: 1000;
    overflow: scroll;
}

#blackBgWHTNEW
{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 500;
    position: absolute;
    top: 0px;
    left: 0px;
}

#whtNew p, #whtNew h3
{
    padding: 0 25px;
}

#whtNew span
{
    text-align: right;
    width: 100%;
    display: block;
    padding: 15px 0px;
    margin: 0 0 0 -25px;
    color: #e91e63;
    font-size: 16px;
    font-weight: bold;
}

#whtNew span:active
{
    opacity: 0.8;
}

#actionWhtNew
{
    display: none;
}