/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select:none;
}

li
{
  word-break: break-word;
}

textarea
{
    max-width: 100%;
}

fieldset
{
    padding: 0px;
}

audio
{
    width: 100%;
}

#title
{
    word-wrap: break-word !important;
}

select
{
    width: 100%;
    min-height: 40px;
    font-size: 16px;
}

input[type=radio], input[type=checkbox]
{
    height: 30px;
    width: 30px;
}

input
{
    min-height: 30px;
    font-size: 18px;
}

code
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

@font-face {
    font-family: my;
    src: url(../font/my.otf);
}

xmp
{
    display: inherit;
    margin: 0;
    white-space: normal;
    background: rgba(125, 125, 125, 0.15);
    padding: 2px;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#f0f0f0;
    background-attachment:fixed;
    font-family: my;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#lesonPage
{
    padding: 15px 20px 5px;
}

.toolbar { display: none; }
.syntaxhighlighter { overflow-y: hidden !important; transform: translateZ(0); }

th, td
{
    word-wrap: break-word !important;
    border: 1px solid #adadad;
    padding: 5px;
}

table
{
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

img
{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

#lessMenu
{
    display: inline-block;
    width: 100%;
}

#exitLess, #aaLess, #aaLessCl  img
{
    width: 50px;
    max-width: none;
    margin: 0;
    display: block;
}

#exitLess
{
    float: left;
}

#exitLess:active
{
    opacity: 0.5;
}

#aaLess
{
    float: right;
}

#aaLess:active
{
    opacity: 0.5;
}

#aaLessCl
{
    float: right;
}

#aaLessCl:active
{
    opacity: 0.5;
}

#aboutDev
{
    margin: 40px 30px 20px 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

#fontSizeTable
{
    width: 110px;
}

#infoMenuLink
{
    border: none;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.fontMenuButton
{
    padding: 15px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

.fontMenuButton:active
{
    opacity: 0.6;
}

.Reading-progress {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2px;
  margin: 0px;
  left: 0px;
  z-index: 99;
}

.bar-top {
  height: 3px;
  background: #e91e63;
  position: fixed;
  top: 0px;
  z-index: 99;
}

.bar-bottom {
  height: 3px;
  background: #e91e63;
  position: fixed;
  bottom: 0px;
  z-index: 99;
}

.bar-left {
  width: 3px;
  background: #e91e63;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.bar-right {
  width: 3px;
  background: #e91e63;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 99;
}

#progressBarType1, #progressBarType2, #progressBarType3, #progressBarType4
{
  display: none;
}

#lessMenu #exitLess
{
    padding: 5px 20px;
    margin: -5px 0 0 -20px;
}

#lessMenu #aaLess
{
    padding: 5px 20px 5px 0px;
    margin: -5px -20px 0 0;
}

#jsResultCode
{
  display: block;
  width: 100%;
  max-width: 400px;
  background: #444444;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  color: #f0f0f0;
  border-radius: 3px;
}

#jsResultCode:active
{
  opacity: 0.7;
}

p
{
  word-wrap: break-word;
}

#pastMenuInLess
{
  display: inline-block;
  position: relative;
  width: calc(100% - 20px);
  text-decoration: none;
  color: #292929;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #b9b9b9;
}

#pastMenuInLess:active
{
  background: rgba(255, 255, 255, 0.3);
}

#subMenuInLess
{
  position: absolute;
  width: 50%;
  right: 20px;
  top: 62px;
  z-index: 1000;
  background: #c5c5c5;
}