
<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../../../css/read.css" />
    <title>Coder Book menu</title>
    <script type="text/javascript" src="../../../../higtline/scripts/shCore.js"></script>
    <script type="text/javascript" src="../../../../higtline/scripts/shBrushCSharp.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../../higtline/styles/shCoreDefault.css"/>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
    <script src="../../../../js/Hyphenator.js" type="text/javascript"></script>
</head>

<body id="pageBody" class="hyphenate">

<!-- progress bar -->
<script src="../../../../js/progressBar.js" type="text/javascript"></script>
<div class="Reading-progress" id="progressBarType1"><span id="Progress-bar-top" class="bar-top" style="display: block !important;"></span></div>
<div class="Reading-progress" id="progressBarType2"><span id="Progress-bar-bottom" class="bar-bottom"></span></div>
<div class="Reading-progress" id="progressBarType3"><span id="Progress-bar-left" class="bar-left"></span></div>
<div class="Reading-progress" id="progressBarType4"><span id="Progress-bar-right" class="bar-right"></span></div>
<!-- progress bar -->


    <div id="lesonPage">

        <div id="lessMenu">
           <a id="exitLess" href="list.html" ontouchstart="return true;"><img src="../../../../img/menu/ex.png" /></a>
           <div id="aaLess" ontouchstart="return true;" onclick="OpenSettMenu();"><img src="../../../../img/menu/aa.png" /></div>
           <div id="subMenuInLess" style="display: none;">
                <a href="../../../../menu/setfontsize-ru.html" ontouchstart="return true;" id="pastMenuInLess">Размер текста</a>
                <a href="../../../../menu/setcolor-ru.html" ontouchstart="return true;" id="pastMenuInLess">Цветовая темы</a>
                <a href="../../../../menu/setProgressBar-ru.html" ontouchstart="return true;" id="pastMenuInLess" style="border: none;">Прогресс бар</a>
           </div>
           <div id="aaLess" ontouchstart="return true;">
            <div class="bmEdit" onclick="dellBm();" id="bma1201" ontouchstart="return true;" style="display: none;"><img src="../../../../img/menu/bmlessa.png" /></div>
            <div class="bmEdit" onclick="setzBm();" id="bm1201" ontouchstart="return true;" style="display: block;"><img src="../../../../img/menu/bmless.png" /></div>
           </div>
        </div>

        <hr />

	<!-- ПОЧАТОК -->
	
	<h1 id="title">
		Альтернативный язык шаблонов Yii
	</h1>

    <p>Yii позволяет разработчику использовать свой любимый язык шаблонов (например, Prado или Smarty) для описания представлений контроллера или виджета.</p>
    <p>Для этого требуется написать и установить свой компонент viewRenderer.</p>
    <p>Обработчик представления перехватывает вызовы CBaseController::renderFile, компилирует файл представления с альтернативным синтаксисом и отдаёт результат компиляции.</p>
    <p><b>Информация:</b> Не рекомендуется использовать альтернативный синтаксис шаблонов для описания представлений компонентов, выкладываемых в открытый доступ.</p>
    <p>Это приведёт к требованию использовать тот же синтаксис, что использован в представлении компонента.</p>
    <p>Далее мы покажем, как использовать CPradoViewRenderer — обработчик представлений, позволяющий разработчику использовать синтаксис шаблонов, используемый в фреймворке Prado.</p>
    <p>Если вы хотите реализовать свои обработчики представлений, обязательно изучите CPradoViewRenderer.</p>

    <h2 id="title">
        Использование CPradoViewRenderer
    </h2>

    <p>Для использования CPradoViewRenderer необходимо настроить приложение следующим образом:</p>

    <pre class="brush: csharp;">
    return array(
        'components'=>array(
            …,
            'viewRenderer'=>array(
                'class'=>'CPradoViewRenderer',
            ),
        ),
    );
    </pre>

    <p>По умолчанию CPradoViewRenderer будет компилировать исходные файлы представлений и сохранять получаемые файлы PHP в директорию runtime.</p>
    <p>PHP-файлы изменяются только в том случае, если изменено исходное представление.</p>
    <p>Поэтому, использование CPradoViewRenderer влечёт за собой очень незначительное падение производительности.</p>
    <p><b>Подсказка:</b> Несмотря на то, что CPradoViewRenderer добавляет новый синтаксис для более быстрого и удобного описания представлений, вы можете использовать код PHP также, как и в обычных представлениях.</p>
    <p>Ниже будут описаны конструкции, поддерживаемые CPradoViewRenderer.</p>

    <h3 id="title">
        Сокращённые PHP-тэги
    </h3>

    <p>Сокращённые PHP-тэги — хороший способ сократить код, используемый в представлении.</p>
    <p>Выражение &lt;%= expression %&gt; преобразуется в &lt;?php echo expression ?&gt;.</p>
    <p>&lt;% statement %&gt; — в &lt;?php statement ?&gt;.</p>
    <p>К примеру:</p>

    <pre class="brush: csharp;">
    <%= CHtml::textField($name,'value'); %>
    <% foreach($models as $model): %>
    </pre>

    <p>преобразуется в</p>

    <pre class="brush: csharp;">
    &lt;?php echo CHtml::textField($name,'value'); ?&gt;
    &lt;?php foreach($models as $model): ?&gt;
    </pre>

    <h3 id="title">
        Компонентные тэги
    </h3>

    <p>Компонентные тэги используются для того, чтобы вставить в представление виджет.</p>
    <p>Синтаксис следующий:</p>

    <pre class="brush: csharp;">
    &lt;com:WidgetClass property1=value1 property2=value2 &mldr;&gt;
        // содержимое виджета
    &lt;/com:WidgetClass&gt;
     
    // виджет без содержимого
    &lt;com:WidgetClass property1=value1 property2=value2 &mldr;/&gt;
    </pre>

    <p>Здесь WidgetClass определяет имя класса виджета или псевдоним пути.</p>
    <p>Начальные значения свойств могут быть как строками, заключенными в кавычки, так и выражениями PHP, заключёнными в фигурные скобки.</p>
    <p>К примеру:</p>

    <pre class="brush: csharp;">
    &lt;com:CCaptcha captchaAction=&quot;captcha&quot; showRefreshButton={false} /&gt;
    </pre>

    <p>преобразуется в</p>

    <pre class="brush: csharp;">
    &lt;?php $this->widget('CCaptcha', array(
        'captchaAction'=>'captcha',
        'showRefreshButton'=>false)); ?&gt;
    </pre>

    <p><b>Примечание:</b> Значение showRefreshButton задано как {false} вместо "false" так как последнее означает строку, а не логическое значение.</p>

    <h3 id="title">
        Кэширующие тэги
    </h3>

    <p>Кэширующие тэги — краткий способ использования кэширования фрагментов.</p>
    <p>Синтаксис следующий:</p>

    <pre class="brush: csharp;">
    &lt;cache:fragmentID property1=value1 property2=value2 &mldr;&gt;
        // содержимое, которое необходимо кэшировать
    &lt;/cache:fragmentID &gt;
    </pre>

    <p>Здесь fragmentID — уникальный идентификатор кэшируемого объекта.</p>
    <p>Пары имя-значение используются для настройки кэширования фрагментов.</p>
    <p>К примеру:</p>

    <pre class="brush: csharp;">
    &lt;cache:profile duration={3600}&gt;
        // информация из профиля пользователя
    &lt;/cache:profile &gt;
    </pre>

    <p>будет преобразовано в</p>

    <pre class="brush: csharp;">
    &lt;?php if($this->beginCache('profile', array('duration'=>3600))): ?&gt;
        // информация из профиля пользователя
    &lt;?php $this->endCache(); endif; ?&gt;
    </pre>

    <h3 id="title">
        Захватывающие тэги
    </h3>

    <p>Как и кэширующие тэги, захватывающие тэги — компактный способ использования CBaseController::beginClip и CBaseController::endClip.</p>
    <p>Синтаксис следующий:</p>

    <pre class="brush: csharp;">
    &lt;clip:clipID&gt;
        // содержимое для захвата
    &lt;/clip:clipID &gt;
    </pre>

    <p>Здесь clipID — уникальный идентификатор захваченного содержимого. Захватывающие тэги преобразуются следующим образом:</p>

    <pre class="brush: csharp;">
    &lt;?php $this->beginClip('clipID'); ?&gt;
        // содержимое для захвата
    &lt;?php $this->endClip(); ?&gt;
    </pre>

    <h3 id="title">
        Тэги комментариев
    </h3>

    <p>Тэги комментариев используются для написания комментариев, доступных исключительно разработчикам.</p>
    <p>Данные тэги будут удалены непосредственно перед отображением представления.</p>
    <p>Синтаксис следующий:</p>

    <pre class="brush: csharp;">
    &lt;!---
    Этот комментарий будет вырезан… цензурой
    ---&gt;
    </pre>

    <h2 id="title">
        Одновременное использование шаблонов разного формата
    </h2>

    <p>Начиная с версии 1.1.2 возможно использовать одновременно как альтернативный, так и обычный PHP синтаксис шаблонов.</p>
    <p>Для этого необходимо задать свойству обработчика шаблонов CViewRenderer::fileExtension значение, отличное от .php.</p>
    <p>К примеру, если оно будет выставлено в .tpl, то все шаблоны с расширением .tpl будут обрабатываться выбранным обработчиком представлений.</p>
    <p>Шаблоны с расширением .php, как и ранее, будут использовать стандартный синтаксис PHP.</p>

	<script src="../../../../js/progressBarSetIni.js" type="text/javascript"></script>

        <div id="lessMenu" style="margin: 30px 0 0 0;">
            <hr />
            <a href="49.html"><div id="exitLess" ontouchstart="return true;"><img src="../../../../img/menu/pr.png" /></div></a>
            <a href="51.html"><div id="aaLess" ontouchstart="return true;"><img src="../../../../img/menu/ne.png" /></div></a>
        </div>

    </div>

    <script type="text/javascript" src="../../../../cordova.js"></script>
    <script type="text/javascript" src="../../../../js/global.js"></script>
    <script type="text/javascript">
        changeColor();
        if (localStorage.getItem("fSize") < 1) { fSize = 16; localStorage.setItem("fSize", 16); } else { fSize = localStorage.getItem("fSize"); }
        document.getElementById("pageBody").style.fontSize = fSize + "px";

        // goBackMenu
        document.addEventListener("backbutton", goBackMenu, false);
        function goBackMenu()
        {
            window.location.href = 'list.html';
        }

        function changeColor()
        {
            if (localStorage.getItem("colorSheme") <= 1)
            {
                document.getElementById("pageBody").style.backgroundColor = localStorage.getItem("#f0f0f0");
            }

            if (localStorage.getItem("colorSheme") == 2)
            {
                document.getElementById("pageBody").style.backgroundColor = localStorage.getItem("#212121");
                document.getElementById("pageBody").style.color = localStorage.getItem("#efefef");
            }

            if (localStorage.getItem("colorSheme") == 3)
            {
                document.getElementById("pageBody").style.backgroundColor = localStorage.getItem("#efe4d0");
            }
        }

        // bm
        if (localStorage.getItem("arrs") != null)
        {
            var arrs = JSON.parse(localStorage.getItem("arrs"));
        }
        else
        {
            var arrs = [];
        }

        var names = ["../acharter/ru/yii/yii/50.html", "Альтернативный язык шаблонов Yii", "bm1201"];

        function setzBm() { arrs.push(names); localStorage.setItem("arrs", JSON.stringify(arrs)); localStorage.setItem("bm1201", 1); RefBms(); }

        window.onload = function() { RefBms(); }

        function RefBms()
        {
            if (localStorage.getItem("bm1201") == 1) { document.getElementById("bma1201").style.display = "block"; document.getElementById("bm1201").style.display = "none"; } else { document.getElementById("bma1201").style.display = "none"; document.getElementById("bm1201").style.display = "block"; }
        }

        function dellBm() { for (var i = 0; i < arrs.length; i++) { if (arrs[i].indexOf("Альтернативный язык шаблонов Yii") == 1) { arrs.splice(i, 1); localStorage.setItem("bm1201", 0); RefBms(); localStorage.setItem("arrs", JSON.stringify(arrs)); } } }

        // sub menu
        var serTimeToClose = 1000;
        
        function OpenSettMenu()
        {
            document.getElementById("subMenuInLess").style.display = "block";
            timeToEvAct();
            serTimeToClose = 1;
        }
        
        function timeToEvAct()
        {
            setTimeout(function() { serTimeToClose = 0 }, 100);
        }
        
        window.addEventListener('click', function(e){
        
            if (serTimeToClose <= 0)
            {
                if (document.getElementById('subMenuInLess').contains(e.target))
                {
                    //
                }
                else
                {
                    document.getElementById("subMenuInLess").style.display = "none";
                }
            }
        });

    </script>

</body>
</html>
